<div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
        <h1>Help</h1>
        <hr>
        <h3>Inventory</h3>
        <ul>
            <li>Clicking on the "Inventory" nav-link will display your backpack, which will display all the items you
                have in storage.</li>
            <li>Hover over an item to display its information at the bottom of your backpack.</li>
            <li>Click on an item to consume it. When an item is consumed, its counter reduces. Once the counter reaches
                0, the item is removed from your backpack.</li>
        </ul>
        <hr>
        <h3>Chat</h3>
        <ul>
            <li>Clicking on the 'Chat' nav-link will open the global chat. Here you can interact with users logged into
                the game.</li>
            <li>Use the message input area to submit your messages.</li>
        </ul>
        <hr>
        <h3>Stats</h3>
        <ul>
            <li>Click on the 'Stats' nav-link to open all the available statistics for your character. These statistics
                will change for your player as you progress and play the game.</li>
        </ul>
        <hr>
        <h3>Help</h3>
        <ul>
            <li>Displays any user-friendly information to help the user navigate through the game. The help tab will
                also list the list of available commands for the Terminal.</li>
        </ul>
        <hr>
        <h3>Terminal</h3>
        <ul>
            <li>Terminal is how the player interacts with the game, the environment, and its players/enemies.</li>
            <li>Terminal accepts commands similar to GitBash/Terminal. See the complete list below:</li>
        </ul>
        <h6>Terminal Commands</h6>
        <ul>
            <li><code>move home</code> - Moves the player to Home.</li>
            <li><code>move panera</code> - Moves the player to Class.</li>
            <li><code>move vending-machine</code> - Moves the player to the Vending Machines.</li>
            <li><code>move class</code> - Moves the player to Class.</li>
            <li><code>buy &ldquo;item&rdquo;</code> - Allows the user to buy a desired item, subtracting the item's cost from the player's accumulated currency.</li>
            <li><code>challenge</code> - Allows the player to challenge a player or an enemy (assignment or project).</li>
            <li><code>attack</code> - Allows the player to Attack during a challenge/fight.</li>
            <li><code>accept</code> - Allows the player to accept a challenge from another player.</li>
            <li><code>decline</code> - Allows the player to decline a challenge from another player.</li>
            <li><code>sleep</code> - Allows the user to sleep and reduces their sleep back to 0. You can only use the sleep command when your character is at 'Home'.</li>
        </ul>
</div>