<div class="tab-pane fade active show" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
    <h2>Player's Backpack</h2>
    <hr>

    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body"> <img src="./images/energy-drink.png" alt="Energy Drink">
                </div>
                <div class="card-footer" id="energy-drink-count">
                    0
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <img src="./images/sports-bottle.png" alt="Sports Drink">
                </div>
                <div class="card-footer" id="sports-drink-count">
                    0
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <img src="./images/coffee.png" alt="Coffee">
                </div>
                <div class="card-footer" id="coffee-count">
                    0
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <img src="./images/keyboard.png" alt="Mechanical Keyboard">
                </div>
                <div class="card-footer" id="mechanical-keyboard-count">
                    0
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <img src="./images/ssd.png" alt="Solid-State Drive">
                </div>
                <div class="card-footer" id="ssd-count">
                    0
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <img src="./images/mouse.png" alt="Optical Mouse">
                </div>
                <div class="card-footer" id="optical-mouse-count">
                    0
                </div>
            </div>
        </div>
    </div>
</div>