<div class="tab-pane fade active show" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
            <div class="col-4" style="border-style: inset; height: 50px; width: 50px; background-color: lightgrey;">
            </div>
        </div>
    </div>
</div>