<ul class="nav flex-column slacker-header">
    <h4>Slacker&nbsp;&nbsp;<i class="far fa-bell"></i></h4>
</ul>
<ul class="nav flex-column nav nav-tabs" role="tablist">
    <li class="nav-item" id="fake-jump-slack">
        </i><input class="form-control" type="text" placeholder="Jump to..." readonly>
    </li>
    <li class="nav-item" id="fake-all-threads-slack">
        <a class="nav-link" href="#"><i class="far fa-comment"></i>&nbsp;All Threads </a>
    </li>
    <li class="nav-item" id="fake-main-menu-slack">
        <a class="nav-link" href="#">Main Menu &nbsp;<i class="fas fa-plus-circle"></i></a>
    </li>
    <li class="nav-item" id="inventory-slack">
        <a class="nav-link active" href="#inventory" role="tab" id="inventory-tab" aria-controls="inventory"
            data-toggle="tab" aria-selected="true">#
            inventory</a>
    </li>
    <li class="nav-item" id="chat-slack">
        <a class="nav-link" href="#chat" id="chat-tab" role="tab" aria-controls="chat" data-toggle="tab" aria-selected="false">#
            chat</a>
    </li>
    <li class="nav-item" id="stats-slack">
        <a class="nav-link" href="#stats" id="stats-tab" role="tab" aria-controls="stats" data-toggle="tab"
            aria-selected="false"># stats</a>
    </li>
    <li class="nav-item" id="help-slack">
        <a class="nav-link" href="#help" id="help-tab" role="tab" aria-controls="help" data-toggle="tab" aria-selected="false">#
            help</a>
    </li>
</ul>
<ul class="nav flex-column" id="direct-message-column">
    <li class="nav-item" id="fake-messages-slack">
        <a class="nav-link" href="#"> Active &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></a>
    </li>
</ul>
<ul class="nav flex-column">
    <li class="nav-item" id="fake-apps-slack">
        <a class="nav-link" href="#">Apps
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></a>
    </li>
</ul>
<ul class="nav flex-column">
    <li class="nav-item" id="fake-add-apps-slack">
        <a class="nav-link" href="#"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Apps</i></a>
    </li>
</ul>