<div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
    <h1>Player Stats</h1>
    <hr>
    <h4 id="stats-player-name">
    </h4>
    <h4 id="stats-level">
    </h4>
    <h4 id="stats-experience">
    </h4>
    <h4 id="stats-stress">
    </h4>
    <h4 id="stats-mp">
    </h4>
    <h4 id="stats-attack">
    </h4>
    <h4 id="stats-defense">
    </h4>
    <h4 id="stats-homeworks-completed">
    </h4>
    <h4 id="stats-currency">
    </h4>
</div>