<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 bg-dark">
            <div class="py-2 sticky-top flex-grow-1 mh-100">
                <div class="row">
                    <div class="col-2">
                        <div class="nav flex-sm-column ">
                            <a href="" class="nav-link d-none d-sm-inline">Sidebar</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 bg-light">
            <div class="py-2 sticky-top flex-grow-1 mh-100">
                <div class="row">
                    <div class="col-2">
                        <div class="nav flex-sm-column ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 mh-100" id="main">
            <div>
                <h1>Main Area</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet similique soluta labore vero saepe
                expedita? Laborum recusandae consequatur, voluptatum, architecto quibusdam pariatur quidem doloremque
                numquam, fugiat laudantium sunt iure reprehenderit?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet similique soluta labore vero saepe
                expedita? Laborum recusandae consequatur, voluptatum, architecto quibusdam pariatur quidem doloremque
                numquam, fugiat laudantium sunt iure reprehenderit?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet similique soluta labore vero saepe
                expedita? Laborum recusandae consequatur, voluptatum, architecto quibusdam pariatur quidem doloremque
                numquam, fugiat laudantium sunt iure reprehenderit?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet similique soluta labore vero saepe
                expedita? Laborum recusandae consequatur, voluptatum, architecto quibusdam pariatur quidem doloremque
                numquam, fugiat laudantium sunt iure reprehenderit?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet similique soluta labore vero saepe
                expedita? Laborum recusandae consequatur, voluptatum, architecto quibusdam pariatur quidem doloremque
                numquam, fugiat laudantium sunt iure reprehenderit?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet similique soluta labore vero saepe
                expedita? Laborum recusandae consequatur, voluptatum, architecto quibusdam pariatur quidem doloremque
                numquam, fugiat laudantium sunt iure reprehenderit?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet similique soluta labore vero saepe
                expedita? Laborum recusandae consequatur, voluptatum, architecto quibusdam pariatur quidem doloremque
            </p>
            </div>
            <div class="terminal" style="background-color: black;">
                <p>This is a terminal</p>
            </div>
        </div>
    </div>
</div>