<div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height: 100vh;">
        <div class="col-sm-1 bg-dark" style="100vh;">
            <div class="py-2 sticky-top flex-grow-1">
                <div class="row">
                    <div class="col-2">
                        <div class="nav flex-sm-column ">
                            <a href="" class="nav-link d-none d-sm-inline">Sidebar</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                            <a href="" class="nav-link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 bg-light" style="height: 100vh;">
            <div class="py-2 sticky-top flex-grow-1">
                <div class="row">
                    <div class="col-2">
                        <div class="nav flex-sm-column ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" id="main" style="height: 100vh;">
            <div class="row" style="background-color: red; height: 60vh;">
                <div class="col-12">
                    <div>
                        <h1>Main Area</h1>

                    </div>
                </div>
            </div>
            <div class="row" style="background-color: black; height: 35vh;">
                <div class="col-12">
                    <div id="terminal-prompts">
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: lightgrey; height: 5vh;">
                <input type="email" class="form-control" id="my_form" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>