<div class="container-fluid" style="height: 100vh; width: 100%;">
    <div class="row" style="height: 100vh;">
        <div class="col-4" style="height: 100vh;">
            <div class="row" style="height: 100vh;">
                <div class="col-4 slacker">
                    <ul class="nav flex-column slacker-header">
                        <h4>Slacker&nbsp;&nbsp;&nbsp;<i class="far fa-bell"></i></h4>
                    </ul>
                    <ul class="nav flex-column nav nav-tabs" role="tablist">
                        <li class="nav-item" id="fake-jump-slack">
                            </i><input class="form-control" type="text" placeholder="Jump to..." readonly>
                        </li>
                        <li class="nav-item" id="fake-all-threads-slack">
                            <a class="nav-link" href="#"><i class="far fa-comment"></i>&nbsp;All Threads </a>
                        </li>
                        <li class="nav-item" id="fake-main-menu-slack">
                            <a class="nav-link" href="#">Main Menu &nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></a>
                        </li>
                        <li class="nav-item" id="inventory-slack">
                            <a class="nav-link active" href="#inventory" role="tab" id="inventory-tab" aria-controls="inventory"
                                data-toggle="tab" aria-selected="true">#
                                inventory</a>
                        </li>
                        <li class="nav-item" id="stats-slack">
                            <a class="nav-link" href="#stats" id="stats-tab" role="tab" aria-controls="stats"
                                data-toggle="tab" aria-selected="false"># stats</a>
                        </li>
                        <li class="nav-item" id="chat-slack">
                            <a class="nav-link" href="#chat" id="chat-tab" role="tab" aria-controls="chat" data-toggle="tab"
                                aria-selected="false"># chat</a>
                        </li>
                        <li class="nav-item" id="help-slack">
                            <a class="nav-link" href="#help" id="help-tab" role="tab" aria-controls="help" data-toggle="tab"
                                aria-selected="false"># help</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column">
                        <li class="nav-item" id="fake-messages-slack">
                            <a class="nav-link" href="#">Messages &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></a>
                        </li>
                        <li class="nav-item" id="fake-pm-david">
                            <a class="nav-link" href="#"><i class="fa-sm fas fa-circle"></i> David</a>
                        </li>
                        <li class="nav-item" id="fake-pm-michael">
                            <a class="nav-link" href="#"><i class="fa-sm far fa-circle"></i> Michael</a>
                        </li>
                        <li class="nav-item" id="fake-pm-ben">
                            <a class="nav-link" href="#"><i class="fa-sm fas fa-circle"></i> Ben</a>
                        </li>
                        <li class="nav-item" id="fake-pm-will">
                            <a class="nav-link" href="#"><i class="fa-sm fas fa-circle"></i> Will</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column">
                        <li class="nav-item" id="fake-apps-slack">
                            <a class="nav-link" href="#">Apps
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></a>
                        </li>
                    </ul>
                    <ul class="nav flex-column">
                        <li class="nav-item" id="fake-add-apps-slack">
                            <a class="nav-link" href="#"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Apps</i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
                            <div class="container">
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/200" class="img-fluid">
                                        <p>1</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>2</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>3</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/200" class="img-fluid">
                                        <p>4</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>5</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/200" class="img-fluid">
                                        <p>7</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>8</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>9</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/200" class="img-fluid">
                                        <p>10</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>11</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>12</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/200" class="img-fluid">
                                        <p>13</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>14</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/100" class="img-fluid">
                                        <p>15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">...</div>
                        <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
                            <div class="outgoing-message-container lighter">
                                <img src="/images/default-slack-1.png" alt="Avatar">
                                <h4>New Phone Who Dis</h4>
                                <p>Hello. How are you today?</p>
                            </div>
                            {{!-- <div class="outgoing-message-container darker">
                                <img src="/images/default-slack-2.png" alt="Avatar" class="right">
                                <p>Hey! I'm fine. Thanks for asking!</p>
                            </div>

                            <div class="outgoing-message-container lighter">
                                <img src="/images/default-slack-1.png" alt="Avatar">
                                <p>Sweet! So, what do you wanna do today?</p>
                            </div>

                            <div class="outgoing-message-container darker">
                                <img src="/images/default-slack-2.png" alt="Avatar" class="right">
                                <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
                            </div> --}}
                            <div class="row">
                                <div class="input-group mb-0 fixed-row-bottom">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-info" type="button" id="chat-button" style="border: 1px solid #303e4d;"><i
                                                class="far fa-paper-plane"></i></button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Type your message here..."
                                        style="border: 1px solid #303e4d;" id="chat-message-area">
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" id="main" style="height: 100vh;">
            <div class="row" style="background-color: red; height: 60vh;">
                <div class="col-12">
                    <div>
                        <h1>Main Area</h1>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 40vh">
                <div class="col-12" id="terminal">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.rawgit.com/jcubic/jquery.terminal/master/js/jquery.terminal.min.js"></script>
<link href="https://cdn.rawgit.com/jcubic/jquery.terminal/master/css/jquery.terminal.min.css" rel="stylesheet" />
<script src="https://cdn.rawgit.com/inexorabletash/polyfill/master/keyboard.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="./js/game.js"></script>