<body id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Bootcamp Battle</h2>
          <hr>
          <h5>Login Page</h5>
          <p>Please enter your email and password</p>
        </div>
        <form id="Login">
          <div class="form-group">
            <input type="user" class="form-control" id="input-user" placeholder="Player Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="input-email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="input-password" placeholder="Password">
          </div>
          <div class="row">
            <div class="col-6">
              <div class="forgot">
                <a href="#">Forgot password?</a>
              </div>
            </div>
            <div class="col-6">
              <div class="register">
                <a href="#">Register</a>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>