html,
body {
  max-width: 100%;
  overflow-y: hidden;
}

input[type="text"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.terminal {
  --color: rgba(0, 128, 0, 0.99);
  --background: black;
  --animation: terminal-underline;
  border-bottom-color: #fff;
}