@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

html,
body {
  max-width: 100%;
  overflow-y: hidden;
}

input[type="text"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.terminal {
  --color: rgba(0, 128, 0, 0.99);
  --background: black;
  --animation: terminal-underline;
  border-bottom-color: #fff;
}

.prompt, .cmd, .command {
  --color: rgba(0,255,6, 0.99)
}

.terminal, .cmd, .terminal .terminal-output div div, .cmd .prompt {
    --size: 1.5;
}

.slacker {
  background-color: #303e4d;
}

.slacker-header {
  color: whitesmoke;
  margin-top: 10px;
}

#fake-jump-slack {
  margin: 0;
}

.form-control {
  border: 0;
  background-color: #303e4d;
}

.nav-item {
  margin-left: -15px;
  margin-right: -15px;
}

a {
  color: whitesmoke;
}

a:hover {
  background-color: grey;
  text-decoration: none;
  color: whitesmoke;
  opacity: 0.5;
  border-style: none;
}

a>.show {
  background-color: skyblue;
  color: white;
}

i.fas.fa-circle {
  color: limegreen;
}

i.far.fa-circle {
  color: grey;
}

/* Chat containers */
.outgoing-message-container {
  border: 2px solid #303e4d;
  background-color: lightskyblue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: whitesmoke;
}

/* Darker chat container */
.darker {
  border-color: grey;
  background-color: #303e4d;
  color: whitesmoke;
}

/* Clear floats */
.outgoing-message-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.outgoing-message-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.outgoing-message-container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

div>.input-group {
  position: absolute;
  bottom: 0;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

.clipboard {
  border: none !important;
}

#game-area {
  height: 60vh;
}

#game-background {
  height: 100%;
  width: 100%;
  margin: auto;
}

#game-background-div {
  padding: 0;
}

#direct-message-colum {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 272px;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}